@charset 'utf-8';
*{
	/*outline: 1px solid;*/
	font-family: sans-serif;
}

.con{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;

}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80vw;
	padding: 5px;
	border: 2px solid grey;
	margin-top: 5px;
	
}
.addArea{
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#campaingForm{
	display: flex;
	justify-content:center;
	align-items: left;
	flex-direction: column;
	padding: 10px;
	width: 60%;
	margin: 30px;

}
#campaingForm input, #campaingForm textarea, #campaingForm label, #add{
	margin: 10px;
	padding-left: 20px;
}

#campaingForm input:focus{
	outline: none;
}
#campaingForm textarea:focus{
	outline: none;
	max-height: 50px;
}
#campaingForm label{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bolder;
}
#addCampaingExp{
	max-width: 100%;
}

#add{
	background-color: lightblue;
	border: none;
	box-shadow: 1px 1px 4px grey;
	cursor: pointer;
	height: 30px;
	font-weight: bolder;
	font-weight: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: grey;
	transition: .5s;
}
#add:hover{
	color: white;
}
fieldset{
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	width: 50%;
}
